<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/layout/header.html :: header"></head>
<body>
<div th:replace="/layout/navigator.html :: navigator"></div>
<br><br>
<div class="container">
  <div>
    <h3 th:text="${board.title}" id="title"></h3>
  </div>
  <hr>
  <div>
    <div th:utext="${board.content}" id="content"></div>
  </div>
  <hr>
  <br/><br/>
  <div class = buttonDiv style="float:right;">
    <a th:href="@{/board/{id}/updateForm(id=${board.id})}" class="btn btn-primary">수정</a>
    <button class="btn btn-danger" id="btn-delete">삭제</button>
    <button class="btn btn-secondary" onclick="history.back()">뒤로가기</button>
  </div>

  <div style="display:none;" id="id" th:text="${board.id}"></div>
</div>
<script src="/js/board.js"></script>
<footer th:replace="/layout/footer.html :: footer"></footer>
</body>
</html>
